.practiceCon {
  background-color: var(--D-GRAY);
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;

  .keyboardContainer {
    padding: 1rem;
    background-color: #e5e5e5;
    width: 75%;

    .color1 {
      background-color: #264653;
      color: white;
    }
    .color2 {
      background-color: #2a9d8f;
      color: white;
    }
    .color3 {
      background-color: #e9c46a;
      color: white;
    }
    .color4 {
      background-color: #f4a261;
      color: white;
    }
    .color5 {
      background-color: #e76f51;
      color: white;
    }
    .color6 {
      background: #e07a5f;
      color: white;
      width: 40rem;
    }
  }
}
