.typeTestPageCon{
    padding: 1rem 2rem;
    width: 100%;
    height: 100vh;
    background-color: var(--X-Black);
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .textMainCon{
        padding-top: 2rem;
        // background-color: aquamarine;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem
    }
}