.backdropCon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.modalConMain {
  min-width: 55rem;
  height: 27rem;
  position: absolute;
  top: 15%;
  left: 20%;
  padding-right: 2rem;
  background-color: #46494c;
  border-radius: 1rem;
  backdrop-filter: grayscale(70%);
  .modalSecDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: ;
    gap: 2rem;
    .ImgConModal{
      // height: 100%;
      height: 27rem;
      width: 27rem;
      border-radius: 1rem;
      overflow: hidden;
      background-color: azure;
      .modalImg{
        height: 27rem;
        // object-fit: contain;
      }
    }
    .modalContainer {
      padding-top: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .modalform {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .closeModal {
          font-size: 2rem;
          transition: all 0.2s ease-in-out 0s;
          &:hover {
            color: var(--X-White);
          }
        }
      }

      .modalHeader {
        font-size: 1.75rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        color: var(--X-Purple);
        font-family: "kanit";
      }
      .modalDetails {
        padding-top: 1.25rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        .detailHead {
          color: var(--X-White);
          font-size: 1rem;
          font-family: "Bungee";
        }
        .details {
          font-family: "Protest Riot", sans-serif;
          color: var(--X-Purple);
          font-size: 1.25rem;
          letter-spacing: 0.2rem;
        }
      }
      .signOutBtn {
        width: 100%;
        margin-top: 1.25rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        background-color: var(--X-Purple);
        color: var(--X-White);
        font-size: 1.2rem;
        outline: none;
        border: none;
        border-radius: 6px;
        transition: all 0.3s ease-out 0s;
        font-weight: 600;

        &:hover {
          background-color: #9772fb;
        }
      }
    }
  }
}
