@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Micro+5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --RED: #e5383b;

  --L-BLACK: #0a0908;
  --L-DARKBLUE: #22333b;
  --L-SKINCOLOR: #eae0d5;
  --L-LIGHTBROWN: #c6ac8f;
  --L-DARKBROWN: #5e503f;

  --D-BLACK: #222831;
  --D-GRAY: #393e46;
  --D-YELLOW: #ffd369;
  --D-WHITE: #eeeeee;

  --X-Gray: #3f3f3f;
  --X-Black: #121212;
  --X-LightGray: #575757;
  --X-White: #f3fcff;
  --X-Purple: #a688fa;
}
