*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{  
  --RED: #e5383b;

  --L-BLACK : #0A0908;
  --L-DARKBLUE: #22333B;
  --L-SKINCOLOR : #EAE0D5;
  --L-LIGHTBROWN: #C6AC8F;
  --L-DARKBROWN: #5E503F;

  --D-BLACK:#222831;
  --D-GRAY: #393E46;
  --D-YELLOW: #FFD369;
  --D-WHITE: #EEEEEE;
}