@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --RED: #e5383b;

  --L-BLACK: #0a0908;
  --L-DARKBLUE: #22333b;
  --L-SKINCOLOR: #eae0d5;
  --L-LIGHTBROWN: #c6ac8f;
  --L-DARKBROWN: #5e503f;

  --D-BLACK: #222831;
  --D-GRAY: #393e46;
  --D-YELLOW: #ffd369;
  --D-WHITE: #eeeeee;
}